<form class="create-post">
  <input
    type="text"
    placeholder="Enter post title..."
    class="post-title"
    required
  />
  <textarea
    name="post-content"
    class="post-content"
    placeholder="Post content goes here..."
    required
  ></textarea>
  <button type="submit" class="submit-post-btn">Create post</button>
</form>

<script src="/js/create-post.js"></script>