<h2 class="dashboard-header">Your Dashboard</h2>

<button class="create-post-btn">Create new post</button>

<div class="dashboard-posts">
  {{#each posts as |post|}}
    <div class="post">
      <div class="post-header">
        <h2 class="post-title" data-id={{post.id}}>{{post.title}}</h2>
        <p>Posted on {{post.createdAt}}</p>
      </div>
      <p class="post-content">{{post.content}}</p>
    </div>
  {{/each}}
</div>

<script src="/js/dashboard.js"></script>
<script src="/js/homepage.js"></script>