<form class="login">
  <input type="text" placeholder="Username" class="username" />
  <input type="text" placeholder="Password" class="password" />
  <button type="submit" class="submit">Log in</button>
</form>
<p>Don't have an account?
  <a href="/register">Click here to sign up.</a>
</p>

<script src="/js/login.js"></script>