<form class="login">
  <input type="text" placeholder="Username" class="username" />
  <input type="text" placeholder="Password" class="password" />
  <button type="submit" class="submit">Log in</button>
</form>

<script src="/js/login.js"></script>