<div class="registration-container">
  <form class="register">
    <input
      type="text"
      placeholder="Create username"
      class="register-username"
    />
    <input
      type="password"
      placeholder="Create password"
      class="register-password"
    />
    <input
      type="password"
      placeholder="Confirm password"
      class="confirm-password"
    />
    <button type="submit" class="sign-up">Sign Up</button>
  </form>
</div>

<script src="/js/register.js"></script>